@import "./header.css";
@import "./footer.css";

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.main-post-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2em 20em repeat(2, 1fr) 3em;
  grid-gap: 2em;
}

#post-header {
  grid-area: 2 / 1 / 3 / 5;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  background-image: url(./../imgs/blog-post-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

#main-post-content {
  grid-area: 3 / 1 / 5 / 5;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "author author author author author"
    "article article article article article ";
}

#author {
  grid-area: author;
}

#blog-post {
  grid-area: article;
  overflow-y: scroll;
  margin: 0 5em;
  -webkit-box-shadow: 0px 0px 39px -27px rgba(204, 204, 204, 1);
  -moz-box-shadow: 0px 0px 39px -27px rgba(204, 204, 204, 1);
  box-shadow: 0px 0px 39px -27px rgba(204, 204, 204, 1);
  border-radius: 5px;
  padding: 2em;
}

#blog-post p {
  font-size: 1.2em;
  text-align: justify;
}

.author {
  -webkit-box-shadow: 0px 0px 39px -27px rgba(204, 204, 204, 1);
  -moz-box-shadow: 0px 0px 39px -27px rgba(204, 204, 204, 1);
  box-shadow: 0px 0px 39px -27px rgba(204, 204, 204, 1);
  display: flex;
  flex-direction: column;
  margin: 1em 5em 0 5em;
  padding: 1em 5em;
}

#author-img {
  border-radius: 50%;
  width: 9em;
  height: 9em;
}

#author-info {
  display: flex;
  flex-direction: row;
}

#author-name-title {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

#author-name-title * {
  margin: 0.2em 0;
}

#author-name {
  font-size: 2em;
}

.author-company-title {
  font-size: 1.2em;
}

#author-biography p {
  text-align: justify;
}

blockquote {
  text-align: justify;
  padding: 1em;
  background: #fdfdfc;
  border-radius: 5px;
  font-family: "Roboto Slab", serif;
  font-size: 1.5em;
  font-weight: 400;
}

blockquote::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10d";
  font-size: 1em;
  padding-right: 0.5em;
  font-weight: 700;
}

blockquote::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10e";
  font-size: 1em;
  padding-left: 0.5em;
  font-weight: 700;
}
figure {
  margin: 24px 40px;
  padding: 1.4em;
}

figure img {
  width: 100%;
}

figure figcaption {
  text-align: end;
  margin: 0 1em;
}

#social-sharing {
  display: flex;
  align-items: center;
}

.social-sharing-link {
  font-size: 2.5em;
  margin: 0px 0.4em;
}

#twitter {
  color: #1da1f2;
}

#facebook {
  color: #4267b2;
}

#linkedin {
  color: #0077b5;
}
