#header {
  grid-area: 1 / 1 / 2 / 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  height: 4em;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.nav-links a {
  text-decoration: inherit;
  color: #214d6e;
  padding: 0 10px;
}

.nav-links a:after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: #214d6e;
  transition: 300ms;
}

.nav-links a:hover:after {
  width: 100%;
}

.nav-links a h4 {
  margin: 0;
}

.search-box {
  border-bottom: solid grey 1px;
}

.search-input {
  outline: 0;
  border: 0px;
  width: 15em;
  font-size: 15px;
}

@media (max-width: 600px) {
  #header {
    grid-area: 1 / 1 / 2 / 2;
    flex-wrap: wrap;
  }

  #header div {
    margin: 1.5%;
    width: 100%;
    max-width: 90vw;
    display: flex;
    justify-content: space-between;
  }

  .search-box {
    margin-top: 1em !important;
  }

  .search-input {
    max-width: 80%;
  }
}

@media (min-width: 601px) and (max-width: 767px) {
  #header {
    grid-area: 1 / 1 / 2 / 2;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #header {
    grid-area: 1 / 1 / 2 / 3;
    flex-wrap: wrap;
  }
}