nav#header {
  grid-area: 1 / 1 / 2 / 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  height: 4em;
}
div.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

div.nav-links a {
  text-decoration: inherit;
  color: #214d6e;
  padding: 0 10px;
}

div.nav-links a:visited {
  text-decoration: inherit;
}

div.search-box {
  border-bottom: solid grey 1px;
}

input.search-input {
  outline: 0;
  border: 0px;
  width: 15em;
  font-size: 15px;
}
