#post-one {
  grid-area: one;
}

#post-two {
  grid-area: two;
}

#post-three {
  grid-area: three;
}

#post-four {
  grid-area: four;
}

.post-brief {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 23px 5px rgba(229, 227, 232, 0.5);
  -moz-box-shadow: 0px 0px 23px 5px rgba(229, 227, 232, 0.5);
  box-shadow: 0px 0px 23px 5px rgba(229, 227, 232, 0.5);
}

.description-section {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.post-cover-img {
  width: 100%;
  height: 55%;
  object-fit: cover;
  object-position: bottom;
}

.post-tag {
  margin-top: 1em;
  background: #e6e6e6;
  color: grey;
  padding: 0 1em;
  display: inline-block;
  max-width: 50%;
  min-width: fit-content;
  width: fit-content;
}

.post-title {
  text-transform: capitalize;
  color: #214d6e;
}

.post-description {
  width: 25em;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
}

.read-more-link {
  align-self: flex-end;
  text-transform: uppercase;
  text-decoration: inherit;
  background-color: #888;
  border: 1px solid #888;
  border-radius: 0.2em;
  padding: 0.5em;
  color: #fffff8;
  transition: all 0.5s ease;
}

.read-more-link:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-weight: 900;
  font-size: larger;
  margin: 5px;
}

.read-more-link:hover {
  background: #fffff8;
  color: #888;
}

.blog-post-link {
  text-decoration: inherit;
}

@media (max-width: 600px) {
  .post-brief {
    max-width: 96vw;
    flex-wrap: nowrap;
  }

  .post-description {
    max-width: 88vw;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .post-brief {
    max-width: 45vw;
  }
}